
table.ttDmsFileList thead td
{
  border: 1px solid #888;
  font-weight: bold;
  padding: 3px;
}

table.ttDmsFileList tbody td
{
  padding-left: 5px;
  padding-right: 5px;
}


table.ttDmsFileList > tbody > tr > td
{
  line-height: 16px;
} 
